*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 25%;
    margin: 20px auto;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 10px;
    background-color: #1e1e1e;
}

main h3{
    text-align: center;
    color: rgb(187, 181, 181);
    font-style: italic;
    padding: 10px 0;
}
input{
    width: 95%;
    height: 40px;
    margin: 10px auto;
    background-color: #474545;
    color: black;
    display: block;
    font-size: 1.5em;
    text-align: right;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
}
.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 10px;
}
button{
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.orange{
    background-color: #ff9500;
}